<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/normalize.css">
<link rel="stylesheet" type="text/css" href="/static/app.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/app.js"></script>
</head>
<body>
<div class="position">
<div class="position-details">
<h3>{{ position.company.name }}</h3>
<h1>{{ position.title }}</h1>
<p>{{ position.description }}</p>
<div class="hidden js-details">
<p><strong>Requirements:</strong>
{{ position.requirements }}</p>
<p><strong>Posted:</strong> {{ position.created_at }}</p>
</div>
</div>
<a class="next" href="/">Next job</a>
<a class="apply js-apply" href="javascript:;">Interested!</a>
</div>
</body>
</html>
